h3 {
    text-align: center;
    font-size: 50px;
    color: #2F1B25;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-stretch: expanded;
    letter-spacing: -2px;
}
body {
    background-color: #FCAB64
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: #4E3822;
    text-align: left;
    letter-spacing: -0.8px;
}
ul {
    font-family: 'Courier New', Courier, monospace;
    color: #4E3822;
    margin-left: 15%;
    letter-spacing: -1px;
}
li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #A15E49;
    letter-spacing: -1px;
}

ul li:nth-child(odd){
    background-color: #4E3822;
}

#foto{
    border-radius: 100%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    border-style: dotted;
    border-color: #2F1B25;
    float: left;
    height: 300px;
    width: 300px;
    background-color: #A15E49;
}

#description{
    padding: 20px 0px 120px 70px;
}

#fotodiv {
    padding: 20px 50px 120px 50px;

}